body {
    font-family: Arial, sans-serif;
    background:url(slika.jpeg);
    background-size:cover;
    background-position:center;
    color: black; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-message-container {
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 60px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.error-message h2 {
    font-family: Arial, sans-serif;
    font-size: 36px; 
    color: black; 
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    padding: 10px;
}

.error-message {
    color: black; 
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px; 
}

.error-message a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.error-message a:hover {
    text-decoration: underline;
}

.register-button {
    padding: 20px 40px;
    background-color: #d8bfd8;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #f0e6fa;
}
